* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    background-size: auto 100vh;
    font-family: Arial;
    color: #212121;
    height: 100vh;

}

header {
    height:100vh;
    display: flex;
}

.menu {
    background-color: #FFEB3B;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #212121;
    text-transform: uppercase;

}

a:hover {
    color:#757575;
}

.site-title,
.site-subtitle {
    text-align: center;
}

.site-subtitle {
    font-style: italic;
}

img {
    width: 40%;
}