* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    background-size: auto 100vh;
    font-family: Arial;
    color: #212121;
    height: 100vh;

}

@media(max-width:400px) {
    header {
        height: 30vh;
    }
}

header {
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    background-color: #FFEB3B;
    position: fixed;
    width: 100vw;
    top: 0;
}

.menu a {
   display: block;
   padding: 10px;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #212121;
    text-transform: uppercase;

}

a:hover {
    color:#757575;
}

.site-title,
.site-subtitle {
    text-align: center;
}

.site-subtitle {
    font-style: italic;
}

.site-title {
    font-size: 4em;
}


.img-portfolio {
    width: 40%;
}

figcaption {
    background-color:#FFF9C4;
    width: 150px;
    height: 20px;
    align-items: center;
}